[user]
        email = 34032722+deepesh-dg@users.noreply.github.com
        name = Deepesh Gupta
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[init]
        defaultBranch = main